adabelief_pytorch==0.2.1
fvcore==0.1.5.post20221221
gymnasium==0.29.1
matplotlib==3.7.1
numpy==1.23.5
pandas==1.5.3
plotly==5.15.0
pygame==2.5.0
torch==2.3
tqdm>=4.66.3
ipykernel==6.23.2
ipython==8.14.0
nbformat==5.9.0
kaleido==0.2.1
munch==4.0.0
tensorboard===2.12.3
pytest==8.2.0
